@import "globals";

.gamefield {
  position: relative;
  margin: 0 auto;
  background: #111;

  .ship {
    position: absolute;
    width: 1px;
    height: 1px;
    //border: 50px solid rgba(255,0,0,.2);
    //transition: all .2s;

    .block {
      position: absolute;
      background-color: #bbb;

      &.ship-small-1 {
        background: transparent url('assets/shipparts/small-1.png');
      }

      &.hull-med-front {
        background: transparent url('assets/shipparts/body-med-cockpit.png');
      }

      &.hull-med-middle {
        background: transparent url('assets/shipparts/body-med-middle.png');
      }

      &.hull-med-back {
        background: transparent url('assets/shipparts/body-med-back.png');
      }

      &.cargo-med {
        background: transparent url('assets/shipparts/cargo-med.png');
      }

      &.dock1 {
        background: transparent url('assets/shipparts/dock-1.png');
      }

      &.production-solar1 {
        border-radius: 50%;
        border: 8px solid #aaa;
      }
    }

    .body {
      position: relative;
      width: 1px;
      height: 1px;
    }

    .label {
      display: none;
      position: absolute;
      bottom: 100%;
      left: 0;
      margin: 5px -5px;
      padding: 5px;
      background-color: #333;
      color: #fff;
      font-size: 12px;
    }
    &:hover .label {
      display: block;
    }
  }
}